# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# TWILIO CREDENTIALS & CONSTANTS
TWILIO_ACCOUNT_SID=AC787d731c2cc724a7886ee2ad8fdef304
TWILIO_AUTH_TOKEN=a93aa1a826af28c5608148c00a5bbae1
TWILIO_API_KEY_SID=SK8ef11091s88ff4f681705ea5f330c295
TWILIO_API_KEY_SECRET=we5EFmfdowCUK59fK4mvgxmRv2BKWiyR
TWILIO_SMS_NUMBER=+17372212163
TWILIO_WHATSAPP_SENDER=whatsapp:+17372212163
TWILIO_TEMPLATE_REFILL_SID=HXfe5ab5f00277942d4d4200328b4d403c
TWILIO_TEMPLATE_NOTIF_SID=HXa9d0fd6215858003e64aae6f151ea1e7

