# GEMINI_API_KEY: Required for Gemini AI API calls.
# GEMINI_API_KEY=MY_GEMINI_API_KEY

# TWILIO CREDENTIALS & CONSTANTS
TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO_API_KEY_SID=YOUR_TWILIO_API_KEY_SID
TWILIO_API_KEY_SECRET=YOUR_TWILIO_API_KEY_SECRET
TWILIO_SMS_NUMBER=+17372212163
TWILIO_WHATSAPP_SENDER=whatsapp:+17372212163
TWILIO_TEMPLATE_REFILL_SID=YOUR_TWILIO_TEMPLATE_REFILL_SID
TWILIO_TEMPLATE_NOTIF_SID=YOUR_TWILIO_TEMPLATE_NOTIF_SID


